<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>medleylibrary</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>x86_64</string>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
				<key>dateExpires</key>
				<string>01/02/2027</string>
				<key>type</key>
				<string>Cloud Managed Developer ID Application</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Avcodec.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Avfilter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Avformat.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Avutil.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>FlutterMacOS.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Mbedcrypto.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Mbedtls.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Mbedx509.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Mpv.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Swresample.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>Swscale.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>audioplayers_darwin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>media_kit_libs_macos_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>media_kit_native_event_loop.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>sqlite3.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>3.45.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>x86_64</string>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C10FDE064A37F334116DC32395EDECF1A5192977</string>
						<key>dateExpires</key>
						<string>01/02/2027</string>
						<key>type</key>
						<string>Cloud Managed Developer ID Application</string>
					</dict>
					<key>name</key>
					<string>sqlite3_flutter_libs.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>6A2668YLMS</string>
						<key>name</key>
						<string>Andrew Hudson</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>com.apple.security.app-sandbox</key>
				<false/>
				<key>com.apple.security.assets.downloads.read-write</key>
				<true/>
				<key>com.apple.security.assets.pictures.read-write</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-only</key>
				<true/>
				<key>com.apple.security.files.user-selected.read-write</key>
				<true/>
			</dict>
			<key>name</key>
			<string>medleylibrary.app</string>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>6A2668YLMS</string>
				<key>name</key>
				<string>Andrew Hudson</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
